$main-text-color: #001A49;
$blue:#56CCF2;
$yellow: #FFC300;
$pink: #EC8A90;

$lightpink: #F7DBD9;
$mint: #BDE3DB;
$purple: #7250F4;
$olive: #E2D946;
$lightblue: #E9F3FA;

$gray: #F2F2F2;
$orange: #F7541D;
$green: #57B894;